@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widgt, .ui-widget .ui-widget {
	font-size:85% !important;
}

body {
	font-size: 12px;
	width:auto;
	padding: 8px;
}